{
	"outputConfig" : {
		"outputName" : "pledger_db-monitoring",
		"dotOutputFormat" : "pdf",
		"dotBinary" : "/usr/local/bin/dot",
		"includePrimaryKeys" : true,
		"includeForeignKeys" : true,
		"includeDataColumns" : true
	} ,
	"clusters":[ {
			"name" : "VPC",
			"background" : "bisque3",
			"show" : true,
			"content" : ["vpc","subnet"]
		} , {
			"name" : "Divers",
			"background" : "cyan3",
			"show" : true,
			"content" : ["bucket","ami"]
		} , {
			"name" : "Stacks CloudFormation",
			"background" : "darkseagreen3",
			"show" : true,
			"content" : ["stack","stack_parameter","stack_output","stack_tag"]
		} , {
			"name" : "Volumes",
			"background" : "gold3",
			"show" : true,
			"content" : ["volume","volume_attachment","volume_tag"]
		} , {
			"name" : "Security Groups",
			"background" : "hotpink3",
			"show" : true,
			"content" : ["security_group","security_group_tag","security_group_ip_permissions_egress","security_group_ip_permissions","security_group_ip_permissions_egress_ip_ranges","security_group_ip_permissions_ip_ranges","security_group_ip_permissions_egress_prefix_list_ids","security_group_ip_permissions_prefix_list_ids","security_group_ip_permissions_egress_user_id_group_pairs","security_group_ip_permissions_user_id_group_pairs"]
		} , {
			"name" : "RDS",
			"background" : "paleturquoise3",
			"show" : true,
			"content" : ["db_instance","db_instance_associated_roles","db_instance_processor_features","db_instance_domain_memberships","db_instance_status_infos","db_instance_option_group_memberships","db_instance_db_parameter_groups","db_instance_vpc_security_groups","db_instance_db_security_groups","db_instance_db_subnet_group","db_instance_db_subnet_group_subnet"]
		} , {
			"name" : "Instances EC2",
			"background" : "slategray3",
			"show" : true,
			"content" : ["reservation","group","instance","instance_product_code","instance_block_device_mapping","instance_elastic_gpu_association","instance_elastic_inference_accelerator_associatio","instance_network_interface","instance_network_interface_grou","instance_network_interface_private_ip_addres","instance_security_group","instance_tag","instance_license"]
		} , {
			"name" : "Elastic Load Balancers",
			"background" : "skyblue3",
			"show" : true,
			"content" : ["load_balancer","load_balancer_availability_zone","load_balancer_availability_zone_load_balancer_address","load_balancer_security_group"]
		}
	],

	"hidden":[
	]
}



